/*--------head------------*/
.head {
  padding: 20px 0;
  color: #fff;
}

.logo h1 {
  font-size: 35px;
  font-weight: 900;
}

.head .icon {
  margin-left: 10px;
}
/*--------head------------*/

/*--------header------------*/
header {
  background: linear-gradient(135deg, powderblue, rgb(5, 20, 64));
  margin: 0 50px;
  padding: 40px; 
  border-radius: 10px; 
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); 
  color: #fff; 
  text-align: center; 
  font-size: 18px;
  font-weight: bold; 
}

header .nav {
  display: flex;
  justify-content: space-between; 
}

header ul {
  display: flex;
  align-items: center;
  padding: 0; 
  margin: 0;
  list-style: none; 
}

header ul li {
  margin-right: 60px; 
}

header ul li:last-child {
  margin-right: 0; 
}

header ul li a,
header ul li button {
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
  background: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none; 
  display: flex;
  align-items: center; 
}

header ul li a:hover,
header ul li button:hover {
  color: #58031f;
}

.start {
  background-color: #1eb2a6;
  padding: 30px 70px;
  color: #fff;
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
}

.toggle {
  display: none;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1rem;
}

/*--------header------------*/

@media screen and (max-width: 768px) {
  .start {
    clip-path: none;
  }

  header {
    margin: 0;
    background-color: #1eb2a6;
    position: relative;
  }

  header ul.flexSB {
    display: none;
  }

  header ul li {
    margin-bottom: 20px;
  }

  .toggle {
    display: block;
    background: none;
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: -20px;
  }

  .mobile-nav {
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    background-color: #1eb2a6;
  }
}
.language-selector {
  margin-left: auto;
  margin-right: 20px;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  background: #ffffff;
  border: 2px solid rgb(10, 5, 59);
  border-radius: 5px;
  position: relative;
}

.language-selector select {
  background: none;
  color: #000;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: inherit;
  padding: 9px;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  z-index: 1;
  width: 100%; 
}

.language-selector select:focus {
  outline: none;
}

.language-selector::after {
  content: '\25BC';
  position: absolute;
  right: 10px;
  pointer-events: none;
  color: #000;
  font-size: 16px;
  z-index: 20;
}

.language-selector select option {
  background-repeat: no-repeat;
  background-position: left center;
  padding: 20px 20px;
}